textarea {
    width:80%;
}

input[type=submit] {
    margin-top:10px;
}


footer{
    color: gray;
}
/*footer a{*/
/*    color: #bfffff;*/
/*}*/
/*footer a:hover{*/
/*    color: white;*/
/*}*/

/*.footer-bottom{*/
/*    !*background: #3d6277;*!*/
/*    padding: 0.2em;*/
/*}*/
/*.footer-top{*/
/*    background: #2d4958;*/
/*}*/
/*.footer-middle{*/
/*    background: #3d6277;*/
/*    padding-top: 0.2em;*/
/*    color: white;*/
/*}*/

/**Sub Navigation**/
.subnavigation-container{
    background: #3d6277;
}
.subnavigation .nav-link{
    color: white;
    font-weight: bold;
}
.subnavigation-container{
    text-align: center;
}
.subnavigation-container .navbar{
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
}
.col-subnav .active{
    border-top:5px solid orange;
    background: white;
    color: black;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }


}

.loginAnim {
    position: relative;
    animation: fadeInUp 1s;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#spinner { visibility:hidden; }
body.busy .spinner { visibility:visible !important; }
