<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h3><b>쿄즈영어 e-Leaning</b></h3>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">초등부
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">중등부
            </button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">고등부
            </button>

<!--            <div class="col-6 ms-2 text-end">-->
                <div class="ms-2">
                    <form class="d-flex justify-content-end">
                        <input  id="search_kw" class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" id="btn_search" type="button">Search</button>
                    </form>
                </div>
<!--            </div>-->
        </div>

    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성일시</th>
                    <!--                    <th>일련번호</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:if="${archive.getGrade=='1'}" th:each="archive, loop : ${paging}">
                    <!--                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>-->
                    <td class="text-center">
                        <a th:href="@{|/archive/detail/${archive.id}|}" th:text="${archive.title}"></a>
                    </td>
                    <td class="text-center" th:text="${#temporals.format(archive.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <!--                    <td th:text="L+${loop.count}"></td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성일시</th>
                    <!--                    <th>일련번호</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:if="${archive.getGrade=='2'}" th:each="archive, loop : ${paging}">
                    <!--                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>-->
                    <td class="text-center">
                        <a th:href="@{|/archive/detail/${archive.id}|}" th:text="${archive.title}"></a>
                    </td>
                    <td class="text-center" th:text="${#temporals.format(archive.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <!--                    <td th:text="L+${loop.count}"></td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성일시</th>
                    <!--                    <th>일련번호</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:if="${archive.getGrade=='3'}" th:each="archive, loop : ${paging}">
                    <!--                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>-->
                    <td class="text-center">
                        <a th:href="@{|/archive/detail/${archive.id}|}" th:text="${archive.title}"></a>
                    </td>
                    <td class="text-center" th:text="${#temporals.format(archive.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <!--                    <td th:text="L+${loop.count}"></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div>
        <a sec:authorize="hasAnyRole('SUPERADMIN', 'ADMIN')" th:href="@{/archive/create}" class="btn btn-primary">강의
            등록</a>

    </div>
    <br>
    <div>
        <p sec:authorize="hasRole('ADMIN')">강의 등록 버튼은 관리자에게만 표시됩니다.</p>
    </div>
    <p sec:authorize="hasAnyRole('SUPERADMIN', 'ADMIN')">Update - 게시물 삭제 기능이 추가되었습니다. </p>

    <form th:action="@{/archive/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>

</div>


<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function () {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
</html>