<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">강의등록</h5>
    <form th:action="@{/archive/create}" th:object="${archiveForm}" method="post">

        <div th:replace="~{form_errors :: formErrorsFragment}"></div>

        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" th:field="*{title}"  class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">설명</label>
            <textarea th:field="*{description}" class="form-control" rows="1" placeholder="강의 설명을 작성하세요."></textarea>
        </div>
        <div class="mb-3">
            <label for="link" class="form-label">링크 (반드시 정확한 강의 링크를 등록하세요!!)</label>
            <textarea th:field="*{link}" class="form-control" rows="1" placeholder="ex) https://youtu.be/MvJNccgwbHU?si=Lqof2fvd0rB4gx2K"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>
