
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${archive.title}"></h2>
    <div class="p-3 bg-danger bg-opacity-75 text-light"><b>본 수업자료를 외부에 공개, 공유, 게시, 배포하는 것을 금지하며 이를 위반하는 경우 관련법에 따라 처벌될 수
        있습니다.</b></div>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${archive.description}"></div>
            <a class="card-text" style="white-space: pre-line;" th:href="@{${archive.link}}" th:text="강의보기"
               target="_blank"></a>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(archive.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <a href="javascript:void(0);" th:data-uri="@{|/archive/delete/${archive.id}|}"
                   class="delete btn btn-outline-danger btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"

                   th:text="삭제"></a>
            </div>
            <section class="justify-content-center text-center">
                <div class="m-auto" th:utext="${archive.link}"></div>
            </section>

        </div>
    </div>

    <a th:href="@{/archive/list}" class="btn btn-primary">목록보기</a>
    <script layout:fragment="script" type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>

</div>
</html>