<!--<html layout:decorate="~{layout}">-->

<div th:fragment="footerFragment"  class="container my-3">


    <div class="m-t-3"></div>

    <footer class=" mt-auto" role="contentinfo">


        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!--Footer Bottom-->
                        <p class="text-center">&copy; Copyright 2023 by Ham Seungmin. All page contents is property of
                            Kyoz English </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>