<html layout:decorate = "~{layout}">
<div layout:fragment="footer" class="container my-3">
<div class="subnavigation-container">
  <div class="container">
    <br>
    <br>
    <nav class="navbar p-a-1">
      <ul class="nav navbar-nav col-subnav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="m-t-3"></div>

<footer class="bg-dark mt-auto" role="contentinfo">
  <div class="footer-top p-y-1">
    <div class="container-fluid">

    </div>
  </div>
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
<!--          <div class="footer-pad">-->
<!--            <h6>Address</h6>-->
<!--            <address>-->
<!--              <ul class="list-unstyled">-->
<!--                <li>-->
<!--                 Paju-si-->
<!--                </li>-->
<!--                <li>-->
<!--                  Phone: 010-3702-8352-->
<!--                </li>-->
<!--              </ul>-->
<!--            </address>-->
<!--          </div>-->
<!--        </div>-->
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">

            <ul class="list-unstyled">

            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">

            <ul class="list-unstyled">

            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">

            <ul class="list-unstyled">

                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-center">&copy; Copyright 2023 by Ham Seungmin. All page contents is property of Kyoz English </p>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
</html>