<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <title>쿄즈영어 LMS</title>
  <style>
    body {
      background-color: #f8f9fa;
    }

    .login-container {
      max-width: 400px;
      margin: auto;
      margin-top: 5%;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    .login-heading {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: #007bff;
    }

    .login-form {
      margin-top: 20px;
    }

    .login-button {
      width: 100%;
    }
  </style>
</head>

<body>
<div class="container">
  <div class="login-container">
    <h1 class="login-heading">쿄즈영어 LMS 🧑‍💻</h1>

    <form th:action="@{/user/login}" method="post" class="login-form">
      <div th:if="${param.error}" class="alert alert-danger" role="alert">
        <strong>Access denied!</strong> 아이디 또는 비밀번호가 일치하지 않습니다.
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="ID" name="username" id="username" required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" id="password"
               required>
      </div>

      <button type="submit" class="btn btn-primary login-button">로그인</button>
    </form>

    <p class="text-center mt-3"><b>v 0.0.3</b></p>
  </div>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>